<h3>Cars Index</h3>
<%= link_to 'Add New Car', new_car_path %>

<section class="block-list">
<header>Cars:</header>
  <% unless @cars.empty? %>
    <ul class="manufacturer-list">
      <%= render @cars %>
    </ul>
  <% else %>
    No Cars Here Yet!
  <% end %>
</section>
